In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
#TODO FILL NAS
#A
df_host = pd.read_csv('host_data.csv')
#F
df_loc = pd.read_csv('location_data.csv')
df_pric = pd.read_csv('pricing_data.csv')
#M
df_prop = pd.read_csv('property_data.csv')
#D
df_rev = pd.read_csv('review_data.csv')

In [3]:
df_pric.isna().sum()

customer_id            0
log_price              0
cleaning_fee           0
cancellation_policy    0
dtype: int64

In [4]:
dfs = [df_host, df_loc, df_pric, df_prop, df_rev]
for i in dfs:
    print(i.isna().sum())

customer_id                   0
host_since                  173
host_response_rate        17193
host_has_profile_pic        173
host_identity_verified      173
dtype: int64
customer_id         0
neighbourhood    9550
latitude            0
longitude           0
city                0
zipcode           894
dtype: int64
customer_id            0
log_price              0
cleaning_fee           0
cancellation_policy    0
dtype: int64
customer_id        0
property_type      0
room_type          0
bedrooms          83
bathrooms        182
accommodates       0
beds             113
dtype: int64
customer_id                 0
number_of_reviews           0
review_scores_rating    15733
first_review            14932
last_review             14896
dtype: int64

In [5]:
dfs = [df_host, df_loc, df_pric, df_prop, df_rev]
for i in dfs:
    print(i.shape)
    print(i.head(1))

(69546, 5)
                                         customer_id  host_since  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  10/07/2013

  host_response_rate host_has_profile_pic host_identity_verified
0               100%                    t                      t
(69546, 6)
                                         customer_id     neighbourhood  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  Columbia Heights

    latitude  longitude city zipcode
0  38.921768 -77.030985   DC   20009
(69546, 4)
                                         customer_id  log_price  cleaning_fee  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        4.0         False

  cancellation_policy
0            moderate
(69546, 7)
                                         customer_id property_type  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        house

        room_type  bedrooms  bathrooms  accommodates  beds
0   private room        1.0        1.0             2   1.0
(69546, 5)
                                         customer_id  number_of_reviews  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...                  0

   review_scores_rating first_review last_review
0                   NaN          NaN         NaN

In [6]:
for i, df in enumerate(dfs, start=1):
    num_duplicates = df.duplicated(subset=['customer_id'], keep=False).sum()
    print(f"DataFrame {i}: {num_duplicates} duplicate rows based on 'customer_id'")

DataFrame 1: 2728 duplicate rows based on 'customer_id'
DataFrame 2: 2728 duplicate rows based on 'customer_id'
DataFrame 3: 2728 duplicate rows based on 'customer_id'
DataFrame 4: 2728 duplicate rows based on 'customer_id'
DataFrame 5: 2728 duplicate rows based on 'customer_id'

In [7]:
for i, df in enumerate(dfs, start=1):
    num_duplicates = df.duplicated(keep=False).sum()
    print(f"DataFrame {i}: {num_duplicates} fully identical rows")

DataFrame 1: 2728 fully identical rows
DataFrame 2: 2728 fully identical rows
DataFrame 3: 2728 fully identical rows
DataFrame 4: 2728 fully identical rows
DataFrame 5: 2728 fully identical rows

In [8]:

df_host = df_host.drop_duplicates(keep='first')
df_loc = df_loc.drop_duplicates(keep='first')
df_pric = df_pric.drop_duplicates(keep='first')
df_prop = df_prop.drop_duplicates(keep='first')
df_rev = df_rev.drop_duplicates(keep='first')
dfs = [df_host, df_loc, df_pric, df_prop, df_rev]

In [9]:
for i in dfs:
    print(i.shape)
    print(i.head(1))

(68182, 5)
                                         customer_id  host_since  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  10/07/2013

  host_response_rate host_has_profile_pic host_identity_verified
0               100%                    t                      t
(68182, 6)
                                         customer_id     neighbourhood  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  Columbia Heights

    latitude  longitude city zipcode
0  38.921768 -77.030985   DC   20009
(68182, 4)
                                         customer_id  log_price  cleaning_fee  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        4.0         False

  cancellation_policy
0            moderate
(68182, 7)
                                         customer_id property_type  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        house

        room_type  bedrooms  bathrooms  accommodates  beds
0   private room        1.0        1.0             2   1.0
(68182, 5)
                                         customer_id  number_of_reviews  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...                  0

   review_scores_rating first_review last_review
0                   NaN          NaN         NaN

In [10]:
df = df_host.merge(df_loc, on='customer_id', how='inner') \
                   .merge(df_pric, on='customer_id', how='inner') \
                   .merge(df_rev, on='customer_id', how='inner') \
                   .merge(df_prop, on='customer_id', how='inner')
df['host_since'] = pd.to_datetime(df['host_since'])
df['first_review'] = pd.to_datetime(df['first_review'])
df['last_review'] = pd.to_datetime(df['last_review'])

In [11]:
print(df.shape)
print(df.duplicated().sum())

(68182, 23)
0

In [12]:
df.describe()

,host_since,latitude,longitude,log_price,number_of_reviews,review_scores_rating,first_review,last_review,bedrooms,bathrooms,accommodates,beds
count,68016,68182.000000,68182.000000,68182.000000,68182.000000,52773.000000,53563,53599,68102.000000,68005.000000,68182.000000,68070.000000
mean,2015-09-21 18:49:56.612561664,38.451586,-92.380279,4.651185,41.664750,94.067156,2016-01-15 08:09:17.578925824,2018-05-15 00:52:50.745722880,1.243796,1.235711,3.156244,1.711165
min,2009-05-03 00:00:00,33.338905,-122.511500,0.120000,0.000000,20.000000,2008-11-17 00:00:00,2010-03-21 00:00:00,-1.000000,0.000000,1.000000,0.000000
25%,2014-06-23 00:00:00,34.128665,-118.342356,4.000000,2.000000,92.000000,2015-06-29 00:00:00,2018-03-09 00:00:00,1.000000,1.000000,2.000000,1.000000
50%,2015-11-30 00:00:00,40.662825,-76.996166,4.715120,12.000000,96.000000,2016-05-26 00:00:00,2018-06-28 00:00:00,1.000000,1.000000,2.000000,1.000000
75%,2017-02-23 00:00:00,40.746423,-73.954541,5.000000,46.000000,100.000000,2017-01-02 00:00:00,2018-11-09 00:00:00,1.000000,1.000000,4.000000,2.000000
max,2018-12-04 00:00:00,42.390437,-70.985047,7.718399,1210.000000,100.000000,2017-10-04 00:00:00,2018-12-05 00:00:00,10.000000,8.000000,16.000000,18.000000
std,NaN,3.079089,21.702499,0.781907,75.304918,7.850617,NaN,NaN,0.878027,0.583663,2.158653,1.254449

In [13]:
print(df.isna().sum())

customer_id                   0
host_since                  166
host_response_rate        16866
host_has_profile_pic        166
host_identity_verified      166
neighbourhood              9368
latitude                      0
longitude                     0
city                          0
zipcode                     876
log_price                     0
cleaning_fee                  0
cancellation_policy           0
number_of_reviews             0
review_scores_rating      15409
first_review              14619
last_review               14583
property_type                 0
room_type                     0
bedrooms                     80
bathrooms                   177
accommodates                  0
beds                        112
dtype: int64

In [14]:
df['host_response_rate'] = pd.to_numeric(df['host_response_rate'].str.rstrip('%'))
#Change host_since to a numeric value ( we calculate the duration)
df['host_since'] = ((pd.to_datetime(datetime.now()) - df['host_since']).dt.days) / 365
#Change t/f to True and False
df['host_has_profile_pic'] = df['host_has_profile_pic'].map({'t': True, 'f': False}).astype(bool)
df['host_identity_verified'] = df['host_identity_verified'].map({'t': True, 'f': False}).astype(bool)
#Capatalize values in room_type and property_type to have a uniform standard between values
df['room_type'] = df['room_type'].str.upper()
df['property_type'] = df['property_type'].str.upper()

In [18]:
columns_to_drop = ['host_since', 'last_review', 'first_review']
df = df.drop(columns=columns_to_drop)


df['host_has_profile_pic'].fillna(df['host_has_profile_pic'].mode(), inplace=True)
df['host_identity_verified'].fillna(df['host_identity_verified'].mode(), inplace=True)
print(df.isna().sum())

customer_id                   0
host_response_rate        16866
host_has_profile_pic          0
host_identity_verified        0
neighbourhood              9368
latitude                      0
longitude                     0
city                          0
zipcode                     876
log_price                     0
cleaning_fee                  0
cancellation_policy           0
number_of_reviews             0
review_scores_rating      15409
property_type                 0
room_type                     0
bedrooms                     80
bathrooms                   177
accommodates                  0
beds                        112
dtype: int64

C:\Users\fedor\AppData\Local\Temp\ipykernel_16068\1183946464.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_has_profile_pic'].fillna(df['host_has_profile_pic'].mode(), inplace=True)
C:\Users\fedor\AppData\Local\Temp\ipykernel_16068\1183946464.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_identity_verified'].fillna(df['host_identity_verified'].mode(), inplace=True)

In [17]:
df[df['host_since'] < 100]

,customer_id,host_since,host_response_rate,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,city,zipcode,...,number_of_reviews,review_scores_rating,first_review,last_review,property_type,room_type,bedrooms,bathrooms,accommodates,beds
0,4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...,11.205479,100.0,True,True,Columbia Heights,38.921768,-77.030985,DC,20009,...,0,NaN,NaT,NaT,HOUSE,PRIVATE ROOM,1.0,1.0,2,1.0
1,XDBcz6zYzSF6AUGPCClRRhP6XjeHOHKCiybvgaevRF6J5Q...,10.449315,NaN,True,False,Westlake,34.057546,-118.288971,LA,90005,...,0,NaN,NaT,NaT,APARTMENT,ENTIRE HOME/APT,0.0,1.0,2,1.0
2,OMm373CPtgtCt3dep7huwYt2G9uGUOPhEG7JkE8ZAvKlMp...,8.150685,100.0,True,True,East New York,40.661924,-73.867641,NYC,11208.0,...,26,91.0,2017-01-01,2018-11-23,HOUSE,PRIVATE ROOM,1.0,1.0,2,1.0
3,OegBpWwCIpG3oc6jLqfYPpBRCCwGrcVh2xQsiUoZXSEtPp...,8.457534,NaN,True,True,South Pasadena,34.109652,-118.175605,LA,90042,...,0,NaN,NaT,NaT,VILLA,ENTIRE HOME/APT,1.0,1.0,3,1.0
4,837RAwLA6dEkJQHyGasNKdV3nZnunANTprjIo7J8C5wZL6...,12.216438,100.0,True,False,Upper East Side,40.766836,-73.959440,NYC,10021,...,64,98.0,2011-08-29,2018-09-28,APARTMENT,ENTIRE HOME/APT,1.0,1.0,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68177,f2BOUClwcSJFylWFm9ZZbmT33NN5zfrEC9acLFniZftsMG...,7.076712,100.0,True,True,Carroll Gardens,40.682925,-73.997469,NYC,11231.0,...,2,100.0,2017-08-06,2018-10-06,TOWNHOUSE,ENTIRE HOME/APT,5.0,2.5,12,8.0
68178,owkLdHeTXuNky7id8h0OCRjocypRtUlBklyBzCTgt0qc57...,8.558904,60.0,True,True,NaN,34.205908,-118.572788,LA,91306,...,12,100.0,2015-10-11,2018-03-30,HOUSE,PRIVATE ROOM,1.0,1.5,4,1.0
68179,rjooqKTDjUIHetuaCmvRgqsdCrwny9xJXw0aCMmB4xQUJp...,9.224658,97.0,True,True,Bushwick,40.689701,-73.906398,NYC,11207,...,0,NaN,NaT,NaT,NONE,PRIVATE ROOM,1.0,1.0,2,1.0
68180,HuiGLAnSeU06GTAp8IL4DUWz1fAKG9n3aU6K46MdGBssGz...,7.079452,100.0,True,False,Flatiron District,40.743522,-73.986369,NYC,10016,...,14,94.0,2017-07-08,2018-10-28,CONDOMINIUM,ENTIRE HOME/APT,2.0,1.0,6,3.0
68181,w7l65QhimlS0j0iOQkHzqXOx7zFWJJ5CHf7s5J7ueFP3Jc...,14.282192,88.0,True,True,West End,42.364175,-71.063204,Boston,02114,...,12,92.0,2012-05-29,2018-07-28,APARTMENT,ENTIRE HOME/APT,2.0,2.0,4,2.0

In [18]:

from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut


geolocator = Nominatim(user_agent="lazaniaa7@gmail.com")

def get_zipcode(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), exactly_one=True, timeout=10)
        if location and 'postcode' in location.raw['address']:
            return location.raw['address']['postcode']
    except GeocoderTimedOut:
        return None
    return None

for idx, row in df[df['zipcode'].isna()].iterrows():
    if pd.notna(row['latitude']) and pd.notna(row['longitude']):
        zipcode = get_zipcode(row['latitude'], row['longitude'])
        df.at[idx, 'zipcode'] = zipcode

print(df.isna().sum())

KeyboardInterrupt:

In [15]:
for i in df['zipcode'][df['neighbourhood'].isna()]:
    try:
        df.loc[(df['zipcode'] == i) & (df['neighbourhood'].isna()), 'neighbourhood'] = df['neighbourhood'][df['zipcode'] == i].mode()[0]
    except:
        df.loc[(df['zipcode'] == i) & (df['neighbourhood'].isna()), 'neighbourhood'] = 'NNF'

In [16]:
df[df['neighbourhood'] == 'NNF']

,customer_id,host_since,host_response_rate,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,city,zipcode,...,number_of_reviews,review_scores_rating,first_review,last_review,property_type,room_type,bedrooms,bathrooms,accommodates,beds
45,SvnzhYMt3o1rxWtLigQcAjQHBbFyz5kh60rgx0jMR2Ri8T...,7.750685,100.0,True,False,NNF,34.142345,-117.768661,LA,91750,...,0,NaN,NaT,NaT,HOUSE,PRIVATE ROOM,4.0,3.0,8,4.0
62,uHWDtMWNggL3Cku4UreUVzyfUPKGKXiAaiuAn30cXKuykF...,7.167123,NaN,True,True,NNF,34.024674,-117.854946,LA,91789,...,0,NaN,NaT,NaT,HOUSE,PRIVATE ROOM,1.0,1.0,1,1.0
153,83gmyS1Lskj3dW1c7L6Vjd5eIN59DQkbRzxM8aSgdZFrw4...,9.967123,60.0,True,False,NNF,33.979000,-117.905387,LA,91748,...,4,100.0,2016-06-12,2017-10-21,HOUSE,PRIVATE ROOM,1.0,1.0,2,1.0
171,hxA9HFCEeOQ2X7HzqwhU92ZCF7L8LrTD1odbeFVCTGTHEy...,7.410959,100.0,True,True,NNF,34.033797,-117.834255,LA,91789,...,48,85.0,2016-07-10,2018-06-30,VILLA,PRIVATE ROOM,1.0,1.0,4,2.0
270,ADvNPwpFbkOAF00fjKVDlLqSO26i4lJ4GXCEBuSIVxqDC7...,7.293151,100.0,True,False,NNF,33.978486,-117.909895,LA,91748,...,82,98.0,2016-07-12,2018-07-01,HOUSE,PRIVATE ROOM,1.0,1.0,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67692,lESjIhEG6cJlB1rD7961TDYOlGBzQceudRqf2qTbSvk5bT...,7.605479,100.0,True,True,NNF,34.152763,-118.641440,LA,91302,...,14,100.0,2016-05-18,2018-05-30,APARTMENT,ENTIRE HOME/APT,1.0,1.0,2,1.0
68042,qSrgYi5sWiwYddOz8GuIGHHUimFxm4KUkIkyjNtQvexdda...,6.646575,100.0,True,False,NNF,33.976658,-117.908017,LA,91748,...,0,NaN,NaT,NaT,HOUSE,PRIVATE ROOM,1.0,1.0,3,1.0
68048,9JWxvfo7mJIiQQQ4kuuMQMia60uIwh59ntfZOj1wNZi1gL...,7.068493,90.0,True,True,NNF,34.388997,-118.577671,LA,91381,...,42,92.0,2016-10-08,2018-06-09,TOWNHOUSE,PRIVATE ROOM,1.0,1.0,2,1.0
68049,KKr9MCS39mVDT5IvoXpWJkYI6VgZYeT417o7Qf5yVO2XlI...,7.665753,NaN,True,False,NNF,34.440475,-118.653848,LA,91384,...,0,NaN,NaT,NaT,CABIN,ENTIRE HOME/APT,0.0,1.0,2,1.0
68080,rGAun5CfD4oFqE7ZkPvEmwtRIHOLD1nhH5vSWkPgZnCEq9...,7.358904,100.0,True,True,NNF,34.362412,-118.545895,LA,91321,...,0,NaN,NaT,NaT,HOUSE,SHARED ROOM,1.0,1.0,2,2.0