In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
df_host = pd.read_csv('host_data.csv')
df_loc = pd.read_csv('location_data.csv')
df_pric = pd.read_csv('pricing_data.csv')
df_prop = pd.read_csv('property_data.csv')
df_rev = pd.read_csv('review_data.csv')

In [4]:
dfs = [df_host, df_loc, df_pric, df_prop, df_rev]
for i in dfs:
    print(i.shape)
    print(i.head(1))

(69546, 5)
                                         customer_id  host_since  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  10/07/2013

  host_response_rate host_has_profile_pic host_identity_verified
0               100%                    t                      t
(69546, 6)
                                         customer_id     neighbourhood  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  Columbia Heights

    latitude  longitude city zipcode
0  38.921768 -77.030985   DC   20009
(69546, 4)
                                         customer_id  log_price  cleaning_fee  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        4.0         False

  cancellation_policy
0            moderate
(69546, 7)
                                         customer_id property_type  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        house

        room_type  bedrooms  bathrooms  accommodates  beds
0   private room        1.0        1.0             2   1.0
(69546, 5)
                                         customer_id  number_of_reviews  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...                  0

   review_scores_rating first_review last_review
0                   NaN          NaN         NaN

In [5]:
for i, df in enumerate(dfs, start=1):
    num_duplicates = df.duplicated(subset=['customer_id'], keep=False).sum()
    print(f"DataFrame {i}: {num_duplicates} duplicate rows based on 'customer_id'")

DataFrame 1: 2728 duplicate rows based on 'customer_id'
DataFrame 2: 2728 duplicate rows based on 'customer_id'
DataFrame 3: 2728 duplicate rows based on 'customer_id'
DataFrame 4: 2728 duplicate rows based on 'customer_id'
DataFrame 5: 2728 duplicate rows based on 'customer_id'

In [6]:
for i, df in enumerate(dfs, start=1):
    num_duplicates = df.duplicated(keep=False).sum()
    print(f"DataFrame {i}: {num_duplicates} fully identical rows")

DataFrame 1: 2728 fully identical rows
DataFrame 2: 2728 fully identical rows
DataFrame 3: 2728 fully identical rows
DataFrame 4: 2728 fully identical rows
DataFrame 5: 2728 fully identical rows

In [7]:

df_host = df_host.drop_duplicates(keep='first')
df_loc = df_loc.drop_duplicates(keep='first')
df_pric = df_pric.drop_duplicates(keep='first')
df_prop = df_prop.drop_duplicates(keep='first')
df_rev = df_rev.drop_duplicates(keep='first')
dfs = [df_host, df_loc, df_pric, df_prop, df_rev]

In [8]:
for i in dfs:
    print(i.shape)
    print(i.head(1))

(68182, 5)
                                         customer_id  host_since  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  10/07/2013

  host_response_rate host_has_profile_pic host_identity_verified
0               100%                    t                      t
(68182, 6)
                                         customer_id     neighbourhood  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...  Columbia Heights

    latitude  longitude city zipcode
0  38.921768 -77.030985   DC   20009
(68182, 4)
                                         customer_id  log_price  cleaning_fee  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        4.0         False

  cancellation_policy
0            moderate
(68182, 7)
                                         customer_id property_type  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...        house

        room_type  bedrooms  bathrooms  accommodates  beds
0   private room        1.0        1.0             2   1.0
(68182, 5)
                                         customer_id  number_of_reviews  \
0  4mUYtiM8BCkYchSi0rELebTJxPM68aZdKyUkER7ol5HI32...                  0

   review_scores_rating first_review last_review
0                   NaN          NaN         NaN

In [9]:
df = df_host.merge(df_loc, on='customer_id', how='inner') \
                   .merge(df_pric, on='customer_id', how='inner') \
                   .merge(df_rev, on='customer_id', how='inner') \
                   .merge(df_prop, on='customer_id', how='inner')
df['host_since'] = pd.to_datetime(df['host_since'])
df['first_review'] = pd.to_datetime(df['first_review'])
df['last_review'] = pd.to_datetime(df['last_review'])

In [10]:
print(df.shape)
print(df.duplicated().sum())

(68182, 23)
0

In [12]:
df.describe()

,host_since,latitude,longitude,log_price,number_of_reviews,review_scores_rating,first_review,last_review,bedrooms,bathrooms,accommodates,beds
count,68016,68182.000000,68182.000000,68182.000000,68182.000000,52773.000000,53563,53599,68102.000000,68005.000000,68182.000000,68070.000000
mean,2015-09-21 18:49:56.612561664,38.451586,-92.380279,4.651185,41.664750,94.067156,2016-01-15 08:09:17.578925824,2018-05-15 00:52:50.745722880,1.243796,1.235711,3.156244,1.711165
min,2009-05-03 00:00:00,33.338905,-122.511500,0.120000,0.000000,20.000000,2008-11-17 00:00:00,2010-03-21 00:00:00,-1.000000,0.000000,1.000000,0.000000
25%,2014-06-23 00:00:00,34.128665,-118.342356,4.000000,2.000000,92.000000,2015-06-29 00:00:00,2018-03-09 00:00:00,1.000000,1.000000,2.000000,1.000000
50%,2015-11-30 00:00:00,40.662825,-76.996166,4.715120,12.000000,96.000000,2016-05-26 00:00:00,2018-06-28 00:00:00,1.000000,1.000000,2.000000,1.000000
75%,2017-02-23 00:00:00,40.746423,-73.954541,5.000000,46.000000,100.000000,2017-01-02 00:00:00,2018-11-09 00:00:00,1.000000,1.000000,4.000000,2.000000
max,2018-12-04 00:00:00,42.390437,-70.985047,7.718399,1210.000000,100.000000,2017-10-04 00:00:00,2018-12-05 00:00:00,10.000000,8.000000,16.000000,18.000000
std,NaN,3.079089,21.702499,0.781907,75.304918,7.850617,NaN,NaN,0.878027,0.583663,2.158653,1.254449

In [14]:
print(df.isna().sum())

customer_id                   0
host_since                  166
host_response_rate        16866
host_has_profile_pic        166
host_identity_verified      166
neighbourhood              9368
latitude                      0
longitude                     0
city                          0
zipcode                     876
log_price                     0
cleaning_fee                  0
cancellation_policy           0
number_of_reviews             0
review_scores_rating      15409
first_review              14619
last_review               14583
property_type                 0
room_type                     0
bedrooms                     80
bathrooms                   177
accommodates                  0
beds                        112
dtype: int64

In [ ]:

from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut


geolocator = Nominatim(user_agent="lazaniaa7@gmail.com")

def get_zipcode(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), exactly_one=True, timeout=10)
        if location and 'postcode' in location.raw['address']:
            return location.raw['address']['postcode']
    except GeocoderTimedOut:
        return None
    return None

for idx, row in df[df['zipcode'].isna()].iterrows():
    if pd.notna(row['latitude']) and pd.notna(row['longitude']):
        zipcode = get_zipcode(row['latitude'], row['longitude'])
        df.at[idx, 'zipcode'] = zipcode

print(df.isna().sum())

customer_id                   0
host_since                  166
host_response_rate        16866
host_has_profile_pic        166
host_identity_verified      166
neighbourhood              9368
latitude                      0
longitude                     0
city                          0
zipcode                       0
log_price                     0
cleaning_fee                  0
cancellation_policy           0
number_of_reviews             0
review_scores_rating      15409
first_review              14619
last_review               14583
property_type                 0
room_type                     0
bedrooms                     80
bathrooms                   177
accommodates                  0
beds                        112
dtype: int64